body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 18px;
}

img {
  width: 500px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

p {
  font-size: 18px;
  color: #e2e4eb;
  margin: 0;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  padding: 8px 14px;
  border-radius: 12px;
  border: 1px;
  width: fit-content;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
  background-color: #1f2937;
}

.neck {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  padding: 100px;
  gap: 24px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 500px;
}

.big-title {
  font-size: 48px;
  margin: 0;
  font-weight: bolder;
  color: #f9faf8;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 100px 200px;
}
.item-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
}

.blue-border {
  border-radius: 24px;
  border-width: 6px;
  border-color: #3882f6;
  border-style: solid;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.img-description {
  font-size: 18px;
  text-align: center;
  color: inherit;
}

.quote-container {
  display: flex;
  background-color: #e5e7eb;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 200px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  text-align: left;
}

.author {
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
  margin-left: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
}

.container.blue {
  background-color: #3882f6;
  border-radius: 12px;
  padding: 50px 100px;
  flex: 1;
}

.container.blue .text-container {
  width: fit-content;
}

.white-border {
  border-color: #f9faf8;
  border-width: 2px;
  border-style: solid;
  margin-left: auto;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  margin-top: auto;
  padding: 50px;
}
